(
  resources: {},
  entities: {
    4294967296: (
      components: {
        "beetmash_template::placeholders::PointLightPlaceholder": (
          point_light: (
            color: LinearRgba((
              red: 1.0,
              green: 1.0,
              blue: 1.0,
              alpha: 1.0,
            )),
            intensity: 1000000.0,
            range: 20.0,
            radius: 0.0,
            shadows_enabled: true,
            shadow_depth_bias: 0.08,
            shadow_normal_bias: 0.6,
          ),
          transform: (
            translation: (
              x: 4.0,
              y: 8.0,
              z: 4.0,
            ),
            rotation: (
              x: 0.0,
              y: 0.0,
              z: 0.0,
              w: 1.0,
            ),
            scale: (
              x: 1.0,
              y: 1.0,
              z: 1.0,
            ),
          ),
        ),
      },
    ),
    4294967297: (
      components: {
        "beetmash_template::placeholders::CameraPlaceholder": (
          transform: (
            translation: (
              x: -2.5,
              y: 4.5,
              z: 9.0,
            ),
            rotation: (
              x: -0.22055435,
              y: -0.13167094,
              z: -0.030063398,
              w: 0.9659786,
            ),
            scale: (
              x: 1.0,
              y: 1.0,
              z: 1.0,
            ),
          ),
        ),
      },
    ),
  },
)